*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f1d3a;
}


.logo img{
    width: 180px;
}

.menu{
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9) ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    font-size: 4vh;
}

.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9) ;
}

.menu :hover{
    color: white ;
}

.form-box {
    width: 100%;
    height: 450px;
    position: center;
    background: #fff;
    overflow: hidden;
    margin-top: 100px;
    align-items: center;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #808080;
    border-radius: 3px
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #58cced, #1261a0);
    border-radius: 3px;
    transition: .9s;
    color: #fff;
}

.input-group{
    top: 110px;
    position: absolute;
    width: 280px;
    transition: .9s;
}

#Login.input-group {
    margin-right: 21px;
    width: 245px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 10px;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #58cced, #1261a0);
    border: 0;
    outline: none;
    border-radius: 3px;
}

.check-box{
    margin: 30px 10px 33px;
}

span {
    color: #1261a0;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#Register{
    left: 1000px;
}

/*In�cio dos Elementos do Formul�rio*/
.form-element {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 150px 150px;
    width: 205px;
    height: 150px;
}

.form-element a {
        text-decoration: none;
}

.msg-sucesso {
    color: rgb(255, 119, 0);
}

.msg-erro {
    align-items: center;
    margin: 0px 400px 25px 400px;
    border-color: red;
    color: #fff;
    text-align: center;   
    background-color: rgba(225, 88, 88, 0.834);
}