* {margin: 0px;}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}


#section_01{
    background-image: url(/Home/assets/Backgorund/Background.jpg);
    background-size:cover;
    background-repeat:round;
    background-color: rgba(0, 38, 109, 0.952);
}

.logo img{
    margin-top: 1vh;
    width: 30vh;
}

.menu{
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9) ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    font-size: 4vh;
}

.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9) ;
}

.menu :hover{
    color: rgb(255, 255, 255) ;
}

#home{  
    display: flex;
    justify-content: center;
}

.sobre{
    color: white;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.sobre h1{
    font-size: 8vh;
}

.sobre p{
    font-size: 3vh;
    margin-top: 1vh;
}

.icon{
    width: 50%;
}

#section_02{
    width: 100%;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    background-size:cover;
    background-repeat:round;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.cursos_tittle{
    margin-top: 4vh;
    width: 80%;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.cursos_tittle h1{
    font-size: 7vh;
}

.content_02{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.illustration{
    width: 40%;
}

.illustration img{
    max-width: 100%;
}

.text_02{
    width: 50%;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button_cursos {
    align-self: center;
    display: flex;
    background-color: #0f1d3a;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 40%;
    height: 8vh;
    border-color: white;
    border-style: groove;
    margin-top: 8vh;
}

.button_cursos a{
    color: white;
    text-decoration: none;
}

.button_cursos :hover{
    background-color: #224180;
}

footer{
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1d3a;
    width: 100%;
    height: 10vh;
    color: white;
}

@media (max-width: 1100px){
    #section_01{
        background-image: url(/Home/assets/Backgorund/Background_01.jpg);
    }
    
    .logo img{
        width: 20vh;
    }

    .menu{
        font-size: 3vh;
    }

    #home{
        flex-direction: column;
    }

    .sobre{
        width: 80%;
        align-self: center;
    }

    .icon{
        width: 100%;
    }

    .text_02{
        margin-top: 10vh;
        width: 50%;
        font-size: 3vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}



@media (max-width: 530px){
    
    .logo img{
        width: 20vh;
    }

    .menu{
        font-size: 2vh;
    }

    .sobre{
        height: 60vh;
    }

    .sobre h1{
        font-size: 6vh;
    }
    
    .sobre p{
        font-size: 2vh;
        margin-top: 1vh;
    }

    .icon{
        width: 100%;
    }

    #section_02{
        height: 70vh;
    }
    
    .text_02{
        margin-top: 6vh;
        width: 50%;
        font-size: 2vh;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}