*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/Home/assets/Backgorund/Background.jpg);
    background-size:cover;
    background-repeat:round;
    background-color: rgba(0, 38, 109, 0.952);
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f1d3a;
}

.logo img{
    width: 180px;
}

.menu{
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9) ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    font-size: 4vh;
}

.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.menu :hover{
    color: rgb(255, 255, 255);
    background-color: black;
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px 3px;
}