*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0f1d3a;
}


.logo img{
    width: 180px;
}

.menu{
    list-style: none;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.9) ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    font-size: 4vh;
}

.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9) ;
}

.menu :hover{
    color: white ;
}

.featurette-divider{
    border: none;
    height: 90px;
}



.col-md-7{
    width: 700px;
}

.nome_pessoa p{
    top: 50px;
}

.img_pessoa{
    width: 200px;
    height: 200px;
    transform: translateX(1000px);
    transform: translateY();
}
.img_pessoa img{
    border-radius: 100px;
}

.text-muted{
    font-size: 2.3rem;
    Font-family: Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
}
.lead{
    font-size: 1.5rem;
    transform: translateY(150px);
    Font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    
}

#section_01{
    width: 100%;
    height: 90vh;
    background-color: white;
    color: black;
    text-align: center;
}

#section_02{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size:cover;
    background-repeat:round;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background-color: #0f1d3a;
    color: white;
    text-align: center;
}

#section_03{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size:cover;
    background-repeat:round;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    text-align: center;
}

#section_04{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size:cover;
    background-repeat:round;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

#section_05{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size:cover;
    background-repeat:round;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}























.social-container{
    transform: translate(1250px);
    height: 48px;
    width: 48px;
}

.social-container ul{
    height: 100%;
    width: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.social-container a{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
    transition: all 0.7s;
}


.social-container a:hover{
    background-color: black;
    border-color: blue;
}

.social-container i{
    font-size: 1.5rem;
}